<div class="uk-width-1-1 new-user">
    <h2 class="uk-width-1-1 new-user-title">New User...</h2>
    <div class="uk-width-1-1 new-user-form">
        <%= form_for(@user, url: users_path) do |f| %>
            <div class="uk-margin-top">
                <%= f.label :UserName, class: 'yi-title' %><br>
                <%= f.text_field :name, class: 'yi-input' %>
            </div>

            <div class="uk-margin-top">
                <%= f.label :Password, class: 'yi-title' %><br>
                <%= f.password_field :password, class: 'yi-input uk-margin-bottom' %>
            </div>

            <%= f.submit "Create New User!", class: "uk-button uk-button-primary uk-button-large uk-margin-top", :method => :GET %>
        <% end %>
    </div>
</div>
