<div class="uk-width-1-1 user-view">
    <h2 class="user-view-title uk-width-1-1">
        <%= @user.name %>
    </h2>
    <div class="user-view-contents uk-width-1-1" >
        <h3>Name : <%= @user.name %></h3>
        <h3>
            Git-URL : 
            <% if @user.giturl %>
                <%= link_to @user.giturl, @user.giturl %>
            <% end %>
        </h3>

        <h3>Tips(<%= @count %>)</h3>
        <div class="tips-view">
            <%= render 'layouts/tip' %>
        </div>
    </div>
    <%= render 'layouts/pagenate' %>
</div>

