<div class="uk-width-1-1 user-view">
    <h2 class="user-view-title uk-width-1-1">
        <%= @user.name %>'s Favourite Tips
    </h2>
    <div class="user-view-contents uk-width-1-1" >
        <h3>Name : <%= @user.name %></h3>
        <h3>Your Favourite Tips(<%= @count %>) <%= link_to "Make new Tip", new_tip_path ,:method => :get %></h3>
        <div class="tips-view">
            <%= render 'layouts/tip' %>
        </div>
    </div>
    <%= render 'layouts/pagenate' %>
</div>