<nav class="uk-navbar uk-margin header">
    <%= link_to "ProgramingTips", root_path, id: "logo" %>
    <div class="uk-align-right" data-uk-dropdown="{mode:'click'}" style="position:relative; margin:10px;" >
        <% if logged_in? %>
        <div><a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" style="font-size:2em;"></a></div>
        <div class="uk-dropdown uk-dropdown-small" style="background-color:white;border-radius:5px;border-style:solid; border-color:coral;">
            <ul class="uk-nav uk-nav-dropdown">
                <li><%= link_to  "マイページ", mypage_path %></li>
                <li><%= link_to  "投稿する", new_tip_path %></li>
                <li><%= link_to  "お気に入り", favourites_path %></li>
                <li><%= link_to  "ログアウト", logout_path %></li>
            </ul>
        </div>
        <% else %>
            <%= link_to "Login", login_path, id: "login", class: "uk-button uk-button-default" %>
        <% end %>
    </div>
</nav>
